# Exemplo de variáveis de ambiente 
# Copie este arquivo para `.env` e preencha os valores antes de rodar o código.

# Supabase
SUPABASE_URL=
# Public/anon key para uso no lado do cliente (frontend)
SUPABASE_ANON_KEY=
# Service role key para operações privilegiadas no lado do servidor (backend). 
SUPABASE_SERVICE_ROLE_KEY= # NÃO EXPONHA ESSA CHAVE. MANTENHA EM SEGREDO! 

# Opcional
PORT=3000
NODE_ENV=development